/* Dividers */
#content {
  width: 85%;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}

#heading1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 10px;
  padding-top: 2%;
}

#download {
  height: 61px;
  width: 250px;
  padding-top: 5%;
  
}

/* Tags */
header{

}

header nav {
  display: inline-block;
  
}

header nav ul {
  
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 3em;
    line-height: 200%;
}

header nav ul li a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid black;

}

nav a:hover {
  color: #f55a6d;
  border-bottom-color: #f55a6d;
}


/* Classes */ 