*{
  margin: 0;
  padding:0;
}

header {
  background-color: #222;
  display: block;
  padding: 25px 0px 0px 25px;
  border-bottom-style: ridge;
}

nav ul li {
    display: inline-block;
    margin-left: 10%;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  text-transform: uppercase;

}

nav a:hover {
  color: #f55a6d;
}
body {background-color: #303130;
}


.heading1 {
  color: #ffffff;
  font-weight: 200;
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
  font-style: italic;

}

#about{
  display: inline;
  background-color: orange;
  border: 3px;
}


#iphone_image {
  float: right;
}
.about_box {
}
