*{
  margin: 0;
  padding:0;
}

header {
  background-color: #222;
  display: block;
  padding: 10px;
}

nav ul li {
    display: inline-block;
    margin-left: 10%;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  text-transform: uppercase;

}

nav a:hover {
  color: #f55a6d;
}
body {background-color: #303130;
}